@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply lg:overflow-hidden text-black dark:text-white selection:bg-primary selection:text-white;
  }

  ::-webkit-scrollbar {
    /* width: 6px; */
    @apply w-0 xs:w-1 md:w-[6px];
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-gray-200 dark:bg-darkBtn hover:bg-gray-300 dark:hover:bg-darkBorder transition-all;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .side-bar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .side-bar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input,
  textarea {
    @apply caret-primary;
  }
}

@layer components {
  .active-topic {
    @apply lg:border-primary text-primary bg-gray-200 dark:bg-black lg:bg-transparent;
  }

  .btn-primary {
    @apply transition-all bg-primary text-gray-200 rounded px-4 py-[5px] hover:bg-[rgb(237,32,72)] dark:hover:bg-primary/80;
  }

  .btn-secondary {
    @apply transition-all border border-gray-200 dark:border-[rgb(22,24,35,0.12)] bg-gray-200 dark:bg-darkBtn text-gray-800 dark:text-gray-200 rounded px-4 py-[5px] hover:border-gray-300 dark:hover:bg-darkBtnHover;
  }

  .reaction-btn {
    @apply w-9 h-9 bg-gray-200 dark:bg-[#7e7b7b5e] text-gray-700 dark:text-gray-200 flex items-center justify-center rounded-full hover:bg-gray-300  dark:hover:bg-[#5c59595e];
  }

  .spinner {
    @apply animate-spin h-6 w-6 rounded-full border-2 border-l-primary border-b-primary dark:border-darkBorder dark:border-l-primary dark:border-b-primary;
  }
}
